.password{
    margin: 10px;
    width:200px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.actionButton{
	width: 20px;
	height: 20px;
	margin: 10px;
}
.passDescription{
	margin: 20px;
}
.passUsername{
    margin:20px
}
.passText{
    margin: 20px;
}
.itemInformation{
    margin: 20px;
    font-weight: bold;
}