

.container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.signup ,.signin {
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  width: 300px;
  
  /*
  height: 300px;
  flex: 600px;*/
}
.head {
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  width: 200px;
  padding: 20px;
}
.signuptext ,.signintext{
    font-size: 30px;
    margin: 10px;
    color: black;
}
.container > a{
  text-decoration: none;
}
.signin-text:hover{
  color:gray;
}
.signup-text:hover{
  color:gray;
}

